html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    color: #333;
}

.header {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

.control {
    float: right;
    font-size: 13px;
    color: gray;
}

.control + .control {
    margin-right: 20px;
}

.gray-link {
    color: gray;
    text-decoration: none;
}

.gray-link:visited {
    color: gray;
}

.gray-link:hover{
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

.main-edit{
    position: absolute;
    top: 45px;
    right: 0px;
    bottom: 10px;
    left: 0px;
}

.main-edit textarea {
    position: absolute;
    top: 0px;
    bottom: 30px;
    left: 0px;
    right: 0px;
    font-size: 14px;
}

.form-footer{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 30px;
}

.main-edit button {
    font-size: 18px;
}

.history-table {
    border-collapse: collapse;
}

.history-table .gray {
    background-color: #eee;
}

.history-table .date-cell {
    width: 200px;
}

.history-table .content-cell {
    padding: 10px;
}

.history-table .link-cell {
    padding: 0 5px;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

