{% extends 'base.html' %}

{% block customcss %}
    <link href="/css/page.css" rel="stylesheet">
    <style>
        .preview {
        border:1px dotted; 
        padding: 3px; 
        width: 100%;
        margin-top:1ex;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Content</h2>
    <code>
        Write in Markdown. For more info click 
        <a href="http://daringfireball.net/projects/markdown/" target="_blank">
            here.
        </a>
        <br>
        For more info on LaTeX, here the 
        <a href="http://en.wikibooks.org/wiki/LaTeX/Mathematics" target="_blank">
            wiki.
        </a>
    </code> 

    <form method="post">
        <textarea class="form-control" 
                  id="content"
                  name="content"
                  onkeyup="Preview.Update()"
                  "autofocus" rows="20"
                  placeholder="Please write in markdown">{{page and page.content or ""}}</textarea>
        <br>

        <div id="inputs">
            <button type="submit" class="btn pull-right">Publish</button>
        </div>

        <br>

        <h2>Preview</h2>

        <div class="preview" id="marked-mathjax-preview"></div>
        <div class="preview" id="marked-mathjax-preview-buffer" 
             style="display:none;
                    position:absolute; 
                    top:0; left: 0"></div>   
        <br>
    </form>
</div>

{% endblock %}

{% block preview_script %}

    <script>
    // from https://github.com/kerzol/markdown-mathjax
    var Preview = {
    delay: 50,        // delay after keystroke before updating

    preview: null,     // filled in by Init below
    buffer: null,      // filled in by Init below

    timeout: null,     // store setTimout id
    mjRunning: false,  // true when MathJax is processing
    oldText: null,     // used to check if an update is needed

    //
    //  Get the preview and buffer DIV's
    //
    Init: function () {
        this.preview = document.getElementById("marked-mathjax-preview");
        this.buffer = document.getElementById("marked-mathjax-preview-buffer");
    },

    //
    //  Switch the buffer and preview, and display the right one.
    //  (We use visibility:hidden rather than display:none since
    //  the results of running MathJax are more accurate that way.)
    //
    SwapBuffers: function () {
        var buffer = this.preview, preview = this.buffer;
        this.buffer = buffer; this.preview = preview;
        buffer.style.display = "none";
        buffer.style.position = "absolute";
        preview.style.position = ""; 
        preview.style.display = "";
    },

    //
    //  This gets called when a key is pressed in the textarea.
    //  We check if there is already a pending update and clear it if so.
    //  Then set up an update to occur after a small delay (so if more keys
    //    are pressed, the update won't occur until after there has been 
    //    a pause in the typing).
    //  The callback function is set up below, after the Preview object is set up.
    //
    Update: function () {
        if (this.timeout) {clearTimeout(this.timeout)}
        this.timeout = setTimeout(this.callback,this.delay);
    },

    //
    //  Creates the preview and runs MathJax on it.
    //  If MathJax is already trying to render the code, return
    //  If the text hasn't changed, return
    //  Otherwise, indicate that MathJax is running, and start the
    //    typesetting.  After it is done, call PreviewDone.
    //  
    CreatePreview: function () {
        Preview.timeout = null;
        if (this.mjRunning) return;
        var text = document.getElementById("content").value;
        if (text === this.oldtext) return;
        text = this.Escape(text);                       //Escape tags before doing stuff
        this.buffer.innerHTML = this.oldtext = text;
        this.mjRunning = true;
        MathJax.Hub.Queue(
        ["Typeset",MathJax.Hub,this.buffer],
        ["PreviewDone",this],
        ["resetEquationNumbers", MathJax.InputJax.TeX]
        );
    },

    //
    //  Indicate that MathJax is no longer running,
    //  do markdown over MathJax's result, 
    //  and swap the buffers to show the results.
    //
    PreviewDone: function () {
        this.mjRunning = false;
        text = this.buffer.innerHTML;
        // replace occurrences of &gt; at the beginning of a new line
        // with > again, so Markdown blockquotes are handled correctly
        text = text.replace(/^&gt;/mg, '>');
        this.buffer.innerHTML = marked (text);
        this.SwapBuffers();
    },

    Escape: function (html, encode) {
        return html
        .replace(!encode ? /&(?!#?\w+;)/g : /&/g, '&amp;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;')
        .replace(/"/g, '&quot;')
        .replace(/'/g, '&#39;');
    }


    };

    //
    //  Cache a callback to the CreatePreview action
    //
    Preview.callback = MathJax.Callback(["CreatePreview",Preview]);
    Preview.callback.autoReset = true;  // make sure it can run more than once
    </script>

<script>
    Preview.Init();
    Preview.Update();
</script>

<script>
function enableTab(id) {
    var el = document.getElementById(id);
    el.onkeydown = function(e) {
        if (e.keyCode === 9) { // tab was pressed

            // get caret position/selection
            var val = this.value,
                start = this.selectionStart,
                end = this.selectionEnd;

            // set textarea value to: text before caret + tab + text after caret
            this.value = val.substring(0, start) + '\t' + val.substring(end);

            // put caret at right position again
            this.selectionStart = this.selectionEnd = start + 1;

            // prevent the focus lose
            return false;

        }
    };
}

// Enable the tab character onkeypress (onkeydown) inside textarea...
// ... for a textarea that has an `id="my-textarea"`
enableTab('content');

</script>

{% endblock %}
