{% extends 'base.html' %}

{% block customcss %}
    <link href="/css/jumbotron.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- Area for Quote-->
    <div class="jumbotron">
        <div class="container">
        <h1>Our Quotes</h1>
        <blockquote>
            <p>{{quote|striptags}}</p>   
            {% if source != "" %}
                <small>{{source|striptags}}</small>
            {% else %}
                {{source|striptags}}
            {% endif %}
        </blockquote>

        <a class="btn btn-primary btn-lg" value="Refresh" onClick="history.go()" role="button" >
             Flip More &raquo;
        </a>

        <a class="btn btn-default btn-lg navbar-right" href="/addquote" >
            Add More 
        </a>
        </div>
    </div> <!-- The End for Quotes -->

    <!-- Area for Pages -->
    <div class="container">
        <div class="row">

        {% for path, content in pages %}
        <div class="col-md-6">
            <h2>
                <a class="brand" href="{{path}}">{{path.strip("/")}} </a>
            </h2>
            <p>{{ content[:200] | safe }}</p>
            <p><a class="btn btn-default" href="{{path}}" role="button">View details &raquo;</a></p>
        </div>
        {% endfor %}

        </div>

        <hr>


    </div> <!-- The End for Pages -->

{% endblock %}
