{% extends 'base.html' %}

{% block customcss %}
    <link href="/css/jumbotron.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="jumbotron">
      <div class="container">
        <h1>WikiEngine</h1>
        <p>
            This is a template for a simple wiki on Google App Engine (GAE).
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://github.com/rickylim19/wiki-engine" role="button" target="_blank">
                Learn more &raquo;
            </a>
        </p>
        <blockquote class="pull-right">
            <p> <em> We share, because we are not alone </em> </p>
        </blockquote>


      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      {% for path, content in pages %}
        <div class="col-md-4">
            <h2>
                <a class="brand" href="{{path}}">{{path.strip("/")}} </a>
            </h2>
            <p>{{ content[:200] | safe }} ...</p>
          <p><a class="btn btn-default" href="{{path}}" role="button">View details &raquo;</a></p>
        </div>
      {% endfor %}
      </div>

      <hr>
        <div class="pull-right">
            {{age}}
        </div>


    </div> <!-- /container -->

{% endblock %}
