{% extends 'base.html' %}

{% block customcss %}
    <link href="/css/page.css" rel="stylesheet">
{% endblock %}

{% block controls %}
  {% if user %}
    <form class="navbar-form navbar-right" action="/addquote">
        <button type="submit" class="btn btn-success" value="addquote">
            add quote
        </button>
    </form>
  {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <h1> Quote of the day </h1>
    <br>
    <br>
    <div class="jumbotron">
      <div class="container">
          <h1>
              {{quote|safe}}
          </h1>
        <form class="navbar-form navbar-right">
            <button class="btn btn-primary" value="Refresh" onClick="history.go()">
                Flip
            </button>
        </form>
      </div>
    </div>              
    <div class="container">
    </div>
    <div class="pull-right">
        {{age}}
    </div>
</div>
{% endblock %}




